Holy Handlebars Thank You For Providing The First Nine Steps Below.

In [61]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plta
from sqlalchemy.sql import select

In [62]:
import numpy as np
import pandas as pd

In [63]:
import datetime as dt
from sqlalchemy import create_engine, inspect, func

# Reflect Tables into SQLAlchemy ORM

In [64]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [65]:
engine = create_engine("sqlite:///Resources/hawaii.sqlite")
conn = engine.connect

In [66]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [67]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [68]:
inspector = inspect(engine)
inspector.get_table_names()

['measurement', 'station']

In [69]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [70]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Climate Analysis

In [71]:
columns = inspector.get_columns('Station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [72]:
columns = inspector.get_columns('Measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

born_after_1989 = session.query(BaseballPlayer).\
    filter(BaseballPlayer.birth_year > 1989).filter(BaseballPlayer.birth_country == "USA").\
    count()
print("{} USA players were born after 1989".format(born_after_1989))

Last_Year=session.query(Measurement).filter(Measurement.date > '2018-06-01');
for date in Last_Year:
    print (date.date);

session.query(func.max(Measurement.date)).all()

In [78]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results
# Perform a query to retrieve the data and precipitation scores

P12M = session.query(Measurement.date, Measurement.prcp).filter\
(Measurement.date >= '2016-08-23').statement
# for row in P12M:
#     print(row.date, row.prcp);
# this is a sql alchemy object that i need to put into a data frame

session.query(Dow.date).order_by(Dow.date.desc()).first()
session.query(Dow.date).order_by(Dow.date).first()

SELECT 
a.emp_no, a.last_name, a.first_name, a.gender
FROM
employees as a
INNER JOIN salaries
ON a.emp_no = salaries.emp_no;

In [79]:
# I think i have the last date, below...couldn't figure out how to calc 'one year prior.'
#Calculate the date 1 year ago from the last data point in the database
oneyragofrlast = session.query(Measurement.date).order_by(Measurement.date.desc()).first()
oneyragofrlast
# answer = (oneyragofrlast-365)
# answer

('2017-08-23')

In [80]:
# Save the query results as a Pandas DataFrame and set the index to the date column

            # data = {'date': ['P12M.date'], 'precipitation': ['P12M.prcp']}
            # df = pd.DataFrame(data=data)
            # df

measurement_df = pd.read_sql(P12M, session.bind)
measurement_df.head()

# data = pd.read_sql("SELECT date, prcp FROM measurement", conn)

         date  prcp
0  2016-08-23  0.00
1  2016-08-24  0.08
2  2016-08-25  0.08
3  2016-08-26  0.00
4  2016-08-27  0.00

In [57]:
# Sort the dataframe by date

measurement_df.sort_values(by=['date'], ascending=False)

             date  prcp
19549  2017-08-23  0.45
12186  2017-08-23  0.08
2723   2017-08-23  0.00
7634   2017-08-23  0.00
12185  2017-08-22  0.00
2722   2017-08-22  0.00
19548  2017-08-22  0.50
7633   2017-08-21  0.02
19547  2017-08-21  0.56
12184  2017-08-21   NaN
2721   2017-08-21  0.00
19546  2017-08-20   NaN
2720   2017-08-20  0.00
7632   2017-08-20  0.01
19545  2017-08-19  0.09
7631   2017-08-19  0.00
12183  2017-08-19   NaN
2719   2017-08-19  0.00
7630   2017-08-18  0.00
14958  2017-08-18  0.06
2718   2017-08-18  0.00
19544  2017-08-18   NaN
7629   2017-08-17  0.00
12182  2017-08-17  0.05
14957  2017-08-17  0.01
19543  2017-08-17  0.13
12181  2017-08-16  0.07
14956  2017-08-16  0.12
7628   2017-08-16  0.00
19542  2017-08-16  0.42
...           ...   ...
9011   2010-01-05  0.02
16942  2010-01-05  0.00
9010   2010-01-04  0.01
16941  2010-01-04  0.00
9521   2010-01-04  0.00
2727   2010-01-04  0.00
12190  2010-01-04  0.00
3      2010-01-04  0.00
14962  2010-01-04  0.00
9520   2010-01-03  0.00
14961  2010-01-03  0.00
2726   2010-01-03  0.00
16940  2010-01-03  0.00
9009   2010-01-03  0.00
12189  2010-01-03  0.00
2      2010-01-03  0.00
16939  2010-01-02  0.00
1      2010-01-02  0.00
12188  2010-01-02  0.00
14960  2010-01-02  0.00
9519   2010-01-02  0.00
9008   2010-01-02  0.02
2725   2010-01-02  0.00
2724   2010-01-01  0.28
16938  2010-01-01  0.14
14959  2010-01-01  0.05
12187  2010-01-01  0.15
9518   2010-01-01  0.15
9007   2010-01-01  0.21
0      2010-01-01  0.08

[19550 rows x 2 columns]

In [81]:
# Use Pandas Plotting with Matplotlib to plot the data
x_axis = measurement_df.date
y_axis = measurement_df.prcp
plt.bar(x_axis, y_axis, color='blue', alpha=0.35, align="center")

# Sets the x limits of the current chart
plt.xlim(-0.75, 50)

# # Sets the y limits of the current chart
# plt.ylim(0, max(users)+5000)

# Give our chart some labels and a tile
plt.title("Daily Rainfall Last Year")
plt.xlabel("Date")
plt.ylabel("Inches of Rain")

NameError: name 'plt' is not defined

![precipitation](Images/precipitation.png)

In [82]:
# Use Pandas to calcualte the summary statistics for the precipitation data
count = (measurement_df.date).count
mean = (measurement_df.prcp).mean
std = (measurement_df.prcp).std
min = (measurement_df.prcp).min
# 1stQ = (measurement_df.prcp).?
# 2ndQ = (measurement_df.prcp).?
# 3rdQ = (measurement_df.prcp).?
max = (measurement_df.prcp).max

![describe](Images/describe.png)

In [ ]:
# Design a query to show how many stations are available in this dataset?
# were we supposed to join this data at some point?
# this would entail building another session engine and then counting the unique stations in the object returned

In [ ]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [ ]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

In [ ]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [ ]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [ ]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [ ]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

In [ ]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [ ]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [ ]:
# Plot the daily normals as an area plot with `stacked=False`